* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

@media screen and (min-width: 425px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        height: 100vh;
        width: 100vw;
    }

    nav ul {
        display: flex;
        flex-direction: column;
    }

    nav li {
        list-style: none;
        background-color: gray;
        text-align: center;
        padding: 10px;
        margin: 10px;
        width: 400px;
    }

    nav a {
        padding: 10px;
    }

    h1 {
        font-size: 3em;
        text-align: center;
        width: 100%;
    }

    .alert-info {
        text-align: center;
        background-color: #ccffff;
        border: 1px solid grey;
        width: 400px;
        height: 50px;
        padding: 10px;
        margin-top: 5px;
    }

    .header-img img {
        display: block;
        width: 100%;
        margin-top: 10px;
    }

    section {
        margin: 10px;
    }

    footer {
        margin:0;
        display: flex;
        justify-content: flex-start;
    }

    footer p{
        margin:10px;
    }
}

@media screen and (min-width: 990px) {
    .hidden-on-desktop {
        display: none;
    }

    body {
        display: grid;
        grid-template-columns: 75% 1fr;
        grid-template-rows: 10% 1fr 180px 10%;
        height: 100vh;
        width: 100vw;
        grid-gap: 5px;
        margin: 5px 0 5px 10px;
        padding: 10px 0 5px 0;

    }

    h1 {
        display: flex;
        justify-content: flex-start;
        grid-column: 1/span 1;
        grid-row: 1/ span 1;
        margin: 0;
    }

    footer {
        grid-column: 1/ span 1;
        grid-row: 5/ span 1;
        margin: 0;
    }

    nav {
        margin: 0;
        width:100%;

    }

    .nav-links {
        display: flex;
        flex-direction: row;
        grid-column: 2/ span 1;
        grid-row: 1/ span 1;
        margin: 0;
        /*padding-top: 10px;*/
        /*padding-left: 46px;*/
    }

    .nav-links li {
        display: flex;
        flex-direction: row;
        width:50px;
        padding: 0;
        margin: 0;
        list-style: none;
        background-color: white;
    }

    .nav-links a {
        color: blue;
        margin:0;
    }

    .header-img {
        width: 1030px;
        grid-column: 1/ 3;
        grid-row: 2/3;
    }

    img {
        grid-column: 1/ 3;
        grid-row: 2/3;
        width: 1030px;
    }

    .main {
        grid-column: 1/ span 1;
        grid-row: 3/ span 1;
        margin: 0;
    }

    .sub-section {
        grid-column: 2/ span 1;
        grid-row: 3/ span 1;
        margin: 0;

    }

    footer {
        grid-row: 4/ span 1;
        grid-column: 1/ span 1;
        color: red;
    }

    p{
        margin:0;
    }


    div #social-media-links {
        float: right;
        grid-column: 2/ 3;
        grid-row: 4/ span 1;
    }
}


