/**{*/
/*border: 1px solid red;*/
/*}*/


/*body{*/
/*    --bg-premeno-blue: #416ba9;*/
/*    --bg-lateperi-darkblue: #22145e;*/
/*    --bg-perimeno-yellow: #f6e0a5;*/
/*    --bg-postmeno-coral: #ffb4ab;*/
/*--bg-lotion-coral-pink: #e4cccb;*/

/*}*/

header {
    border-bottom: 1px solid lightgrey;
    font-family: 'Lato', sans-serif;


}

body {
    font-family: 'Lato', sans-serif;

}

.header-icon-links {
    color: #22145e;
}

.header-icon-links:hover {
    color: #f6e0a5;
}


a.navbar-brand {
    font-family: 'Lato', sans-serif;
    color: #22145E;
    font-size: 1.5em;
}

.navbar-brand:hover {
    color: #f6e0a5;
}

a.navbar {
    background-color: #F0F7F7;
}

.navbar-links {
    color: #22145E;
    font-family: 'Lato', sans-serif;
    margin-left: 10px;
    margin-right: 50px;

}

.navbar-links:hover {
    color: #e4cccb;
}

.icons {
    list-style: none;
}

small {
    font-size: 0.8em;
}

.lotion {
    margin: 5px;
    padding: 16px;
}

.supplement {
    margin: 5px 0;
    padding: 16px;
}

.e-bundles {
    margin-right: 5px;
    padding: 16px;
}

.dots {
    height: 8px;
}

/*body*/

/*img{*/
/*    min-width: 100%;*/
/*    min-height: 100%;*/
/*}*/
.image {
    position: relative;
}

h2 {
    position: absolute;
    top: 210px;
    left: 20px;
    width: 50%;
    font-family: 'Playfair Display';
}

.first-picture {
    position: absolute;
    top: 255px;
    left: 20px;
    width: 50%;
    font-family: 'Playfair Display';
}

.explore-products {
    position: absolute;
    top: 335px;
    left: 20px;
    background-color: #e4cccb;
    border: 1px solid #e4cccb;
    font-family: 'Playfair Display';
}


.product-must-haves{
    text-align:center;
    display:block;
}
.menopause-must-haves {
    height: 25%;
    width: 25%;

}

/*.explore-products:hover{*/
/*    background-color:  #ffb4ab;*/

/*}*/

/*footer*/
footer {
    height: 50px;
}

.footer-bottom-links {
    border-top: 1px solid #22145e;
    font-size: 0.8em;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

.footer-links {
    color: #22145e;

}

.footer-links:hover {
    color: #e4cccb;
}

.icon-link {
    color: #e4cccb;
}

.slogan {
    font-size: 0.8em;
}